@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body {
    @apply bg-lightBG text-lightText dark:bg-darkBG dark:text-darkText;
  }
  a {
    @apply hover:text-lightTextAccent dark:hover:text-darkTextAccent;
  }
  .cardBGLightDark {
    @apply bg-lightBGAccent dark:bg-darkBGAccent;
  }
  .cardBGLightDarkArchive {
    @apply bg-gradient-to-r from-[#EDF1F4] to-[#C3CBDC] dark:from-[#12100E] dark:to-[#2B4162];
  }
}


html {
  background-color: #1B1B1B;
  color: white;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-weight: 300;
  font-size: 96px;
}
h2 {
  font-weight: 600;
  font-size: 64px;
  line-height: 1.3em;
}
h3 {
  font-weight: 400;
  font-size: 48px;
  line-height: 1.4;
}
h4 {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
}
h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
}
.h5NoBold {
  font-weight: 400;
  font-size: 24px;
}
h6 {
  font-weight: 500;
  font-size: 20px;
}
.subtitle1 {
  font-weight: 400;
  font-size: 16px;
}
.subtitle2 {
  font-weight: 500;
  font-size: 14px;
}
.body1 {
  font-weight: 400;
  font-size: 18px;
}
.body2 {
  font-weight: 400;
  font-size: 14px;
}
.caption {
  font-weight: 400;
  font-size: 12px;
}
.my_overline {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}
.headerLight {
  font-size: 32px;
  font-weight: 300;
}
.p_less_padding {
  padding: .5rem 0 .5rem 0; 
  margin: 0;
}

.gradient_background {
  background: rgb(22,22,22);
  background: linear-gradient(90deg, rgba(22,22,22,1) 19%, rgba(65,51,103,1) 100%);
  color: #F5F4F6;
}

.moreArticlesSectionBG {
  background: linear-gradient(#FFFFFF00, #2B4162);
  /* background: linear-gradient(#FFFFFF00, #A78BFA); */
}

.viewAestheticsSectionBG {
  /* background: linear-gradient(to bottom right, #FFFFFF00, #0e0015); */
  background-color: black;
}

.hideScrollbarClass {
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

/* Hide scrollbar for Webkit based browsers */
.hideScrollbarClass::-webkit-scrollbar {
  display: none;
}


@media (max-width: 600px) {
  h2 {
    font-size: 40px;
    font-weight: 700;
  }
  h3 {
    font-size: 36px;
  }
  h5 {
    line-height: 1.2;
  }
  .subtitle1 {
    font-size: 12px;
  }
  .caption {
    font-size: 10px;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 48px;
  }
}